.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#full-embed {
    position: relative;
}

#full-embed header {
    height: 50px;
    box-shadow: 0 0 5px rgb(57 70 78 / 20%);
    position: relative;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#full-embed header h1 {
    float: right;
    height: 50px;
    margin: 0 0 0 10px;
}


#full-embed header h1 a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    margin-right: 50px;
    color: navy;
}

#full-embed ol, ul {
    list-style: none;
}

#full-embed #actions li {
    float: left;
}


.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-item {
    font-size: 18px;
    text-align:left;
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
    margin-left: -17rem;
}

#content.active {
    width: 100%;
    margin: 0;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -17rem;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
        margin: 0;
    }

        #content.active {
            margin-left: 17rem;
            width: calc(100% - 17rem);
        }
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
    /*background: #599fd9;
    background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
    background: linear-gradient(to right, #599fd9, #c2e59c);*/
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
}

.text-uppercase {
    letter-spacing: 0.1em;
}

.text-gray {
    color: #aaa;
}

.tag {
    padding: 1px 5px;
    border-radius: 2px;
    background-color: #a8cad74f;
    color: #333;
}

.classEmployee {
    margin-left: 36px;
    margin-top: -33px;
    display: flex;
    flex-direction: column;
    line-height: 17px;
}

.classEmployee a {
    color: #44444469;
    font-size: 12px;
}

.Select-input {
    text-align: left;
    float: left;
}
.menu-outer-top .Select-menu-outer {
    bottom: 35px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    text-align: left;
    float: left;

    color: red !important;
}

.menu-outer-top li {
    color:green;
}

.drop-up .Select-menu-outer {
    top: auto;
    bottom: 100%;
    color: red !important;
}


.form-inline .form-group {
    margin-left: 0;
    margin-right: 0;
    float:left;
}

.detailsTable td:first-child {
    text-align: right;
    width: 40%;
}

.detailsTable td:nth-child(2) {
    text-align: left;
}

.employeeDetailsTable td:first-child {
    text-align: right;
    min-width: 130px;
    width: 130px;
    word-wrap: break-word;
}

.employeeDetailsTable td:nth-child(2) {
    text-align: left;
    word-wrap: break-word;
}















body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 400;
    color: #333;
    float: left;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #727272;
    }

    .sidebar .nav-link.active {
        color: navy;
    }

    .sidebar .nav-item.activeItem {
        color: navy;
        background-color: rgba(0, 0, 0, 0.1);
    }

        .sidebar .nav-link:hover {
            color: navy;
        }

    .sidebar .nav-link.active .feather {
        color: inherit;
    }

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
/*
 * Navbar
 */
header {
    border-bottom: 1px solid rgb(57 70 78 / 20%);
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    /*background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

    .form-control-dark:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }



.classNameEmployee {
    margin-left: 47px;
    margin-top: -45px;
    display: grid;
}


.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}


.btnClass {
    color: grey !important;
    border-color: grey !important;
    background-color: white !important;
}

.btnClass:hover {
    color: white !important;
    border-color: rgb(57 70 78 / 20%);
    background-color: #44444469 !important;
}

.employeeFormControl {
    margin-top: -10px !important;
}


#contentImageUploder {
    display: none;
    opacity: 1.0;
    z-index: 100;
}

#parentImageUploder:hover #contentImageUploder {
    position: absolute;
    display: block;
    margin-top: 35px;
    color: navy;
    opacity: 1.0;
}

.imgPreview:hover {
    opacity: 0.5;
    z-index: 10;
}